{:paths ["src", "test"]
 :deps
 {org.clojure/clojure {:mvn/version "1.10.1"}
  org.clojure/tools.cli {:mvn/version "1.0.194"}
  cljfmt {:mvn/version "0.7.0"}}

 :aliases
 {:lint {:extra-deps {com.jameslaverack/cljfmt-runner
                      {:git/url "https://github.com/JamesLaverack/cljfmt-runner"
                       :sha "97960e9a6464935534b5a6bab529e063d0027128"}}
         :main-opts ["-m" "cljfmt-runner.check"]}
  :lint/fix {:main-opts ["-m" "cljfmt-runner.fix"]}}}